.Rproj.user
.Rhistory
.RData

practicalmachinelearning.Rproj

index_cache/html/__packages

index_cache/html/unnamed-chunk-8_8e971ffe5721055bdda3b830862f38cf.RData

index_cache/html/unnamed-chunk-8_8e971ffe5721055bdda3b830862f38cf.rdb

index_cache/html/unnamed-chunk-8_8e971ffe5721055bdda3b830862f38cf.rdx
